@keyframes linktransform {
    0% {
        color: black;
    }
    50% {
        color: darkgrey;
    }
    100% {
        color: black;
    }
}

html, body {
    height: 100;
    margin: 0;
}

#navcontainer {
    display: flex;
    justify-content: center;
}

nav {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

#navcontainer nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

#navcontainer nav a:hover {
    animation: linktransform 2s;
}

#navhidden {
    display: none;
    padding: 20px;
    justify-content: center;
    }

select {
    font-family: 'Poppins', sans-serif;
    border: none;
}

option {
    font-family: 'Poppins', sans-serif;
}

#homecontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    min-height: 23em;
    margin: auto;
}

#box1 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    float: left;
    padding: 10px;
}


#box2 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    
}

#box3 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    
}

#box4 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    
}

#push {
    height: 55px;
}

#footer {
   font-family: 'Poppins', sans-serif;
   position: fixed;
   height: 55px;
   left: 0;
   bottom: 0;
   color: white;
   width: 100%;
   background-color: darkgrey;
   text-align: center;
}

@media screen and (max-width: 500px) {
  nav  {
    display: none;
  }
  #navhidden {
        display: flex;
    }
  
}

@media screen and (max-width: 689px) {
    #box2, #box3, #box4 {
        margin-top: 10px;
    }   
}

@media screen and (max-width: 1023px) {
    #box3, #box4 {
        margin-top: 10px;
    }   
    
}


