body {
    font-family: 'Gugi', cursive;
    color: white;
    background-color: #80bfff;
}
 h1 {
     padding: 20px;
     border: 5px solid white;
     border-radius: 25px;
 }

 img {
     padding: 10px;
     border: 5px solid white;
 }

 ul {
     padding: 25px;
     list-style-type: none;
 }

 li {
     padding: 5px;
     text-decoration: none;
     font-size: 20px;
 }

 #fotoivo {
     background-color: #924356;
 }

 #fotoian {
     background-color: #111318;
 }

 .main-footer {
    text-align: center;
 }